.videoSidebar{
    position: absolute;
    top: 25%;
    right: 10px;
    color: #ffffff;
}
.videoSidebar__options{
    font-size: 12px;
    padding: 8px 20px;
    text-align: center;
}

.liked {
    color: #ad0000;
  }

  .saved{
    color: #e7bd00;
  }
  
